.gameActivity {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    padding: 0px 16px;
    .header {
        color: var(--header-secondary);
        text-shadow: 0px 0px 25px black;
        margin-bottom: 8px;
        font-size: 12px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        cursor: default;
        font-family: "Whitney";
        span {
            font-weight: bolder;
        }
    }
    .game_activity {
        display: flex;
        align-items: center;
        .activity_img {
            display: flex;
            flex-direction: row;
            .activityLargeImg {
                display: flex;
                justify-content: center;
                position: relative;

                img {
                    border-radius: var(--rad);
                    object-fit: cover;
                    display: block;
                }

                &::after {
                    width: 100%;
                    height: 100%;
                    background: black;
                    content: "";
                    position: absolute;
                    border-radius: var(--rad);
                    opacity: 0;
                    transition: var(--animation-1);
                }

                &:hover {
                    &::after {
                        opacity: var(--largeimg-opacity);
                    }
                }
            }
            // .activity_small {
            //     display: flex;
            //     justify-content: center;
            // }
            // .activity_small_img {
            //     border-radius: 50%;
            //     object-fit: cover;
            //     position: absolute;
            //     bottom: 240px;
            //     width: 30px;
            //     height: 30px;
            //     box-shadow: var(--discord-elevation-high);
            // }
        }
        .activity_text {
            margin-left: 10px;
            display: flex;
            flex-direction: column;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            cursor: default;
            .activity_text_title {
                color: white;
                font-weight: 600;
            }
            .activity_text_details {
                color: #dcddde;
            }
            .activity_text_state {
                color: #dcddde;
            }
            .activity_text_timestamp {
                color: #dcddde;
            }
        }
    }
}
