.gamestatus {
    display: flex;
    width: 100%;
    height: 140px;
    flex-direction: column;
    justify-content: center;
    .header {
        color: var(--header-secondary);
        text-shadow: 0px 0px 25px black;
        margin-bottom: 8px;
        font-size: 12px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        cursor: default;
        font-family: "Whitney";
        span {
            font-weight: bolder;
        }
    }
    .game_activity {
        display: flex;
        align-items: center;
        .activity_img {
            display: flex;
            flex-direction: row;
            .activity_large {
                display: flex;
                justify-content: center;
                position: relative;
                img {
                    border-radius: 5px;
                    box-shadow: 0px 0px 16px black;
                    object-fit: cover;
                    display: block;
                }
                &::after {
                    content: "";
                    width: 100%;
                    position: absolute;
                    height: 100%;
                }
                .activity_large_tooltip {
                    transform: translateY(96px) scale(0.95);
                    .activity_large_tooltip_arrow {
                        border-bottom-color: var(--discord-floating);
                        position: absolute;
                        bottom: 100%;
                        width: 0;
                        height: 0;
                    }
                }
                &:hover > .activity_large_tooltip {
                    opacity: 1;
                    visibility: visible;
                    transform: translateY(108px) scale(1);
                }
            }
            // .activity_small {
            //     display: flex;
            //     justify-content: center;
            // }
            // .activity_small_img {
            //     border-radius: 50%;
            //     object-fit: cover;
            //     position: absolute;
            //     bottom: 240px;
            //     width: 30px;
            //     height: 30px;
            //     box-shadow: var(--discord-elevation-high);
            // }
        }
        .activity_text {
            margin-left: 10px;
            display: flex;
            flex-direction: column;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            cursor: default;
            .activity_text_title {
                color: white;
                font-weight: 600;
            }
            .activity_text_details {
                color: #dcddde;
            }
            .activity_text_state {
                color: #dcddde;
            }
            .activity_text_timestamp {
                color: #dcddde;
            }
        }
    }
}
