@keyframes background_animation {
    0% {
        transform: translateY(0%);
    }
    100% {
        transform: translateY(calc(-100% + 20%));
    }
}

.type_2 {
    display: flex;
    width: 100%;
    height: 200px;
    flex-direction: column;
    position: relative;
    padding: 10px;
    box-sizing: border-box;
    justify-content: center;
    overflow: hidden;
    border-radius: 10px;
    .background {
        top: 0;
        left: 0;
        position: absolute;
        pointer-events: none;
        height: 100%;
        width: 100%;
        .background_container {
            position: relative;
            height: 100%;
            width: 100%;
            img {
                animation: background_animation 10s infinite alternate ease-in-out;
                position: absolute;
                height: 1000px;
                width: 100%;
                object-fit: cover;
            }
        }
        .background_gradient {
            position: absolute;
            top: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(to right, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.4));
        }
    }
    .container {
        z-index: 1;
        .header {
            margin-bottom: 4px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            cursor: default;
            color: var(--spotify-color);
            filter: drop-shadow(0px 0px 10px var(--spotify-color));
            span {
                font-weight: bolder;
                font-family: "Whitney";
                font-size: 12px;
            }
        }
        .spotify {
            display: flex;
            .spotify_img {
                display: flex;
                justify-content: center;
                cursor: pointer;
                margin-right: 8px;
                position: relative;
                img {
                    display: block;
                    border-radius: 5px;
                    object-fit: cover;
                    height: 100px;
                    width: 100px;
                }
                &::after {
                    content: "";
                    width: 100%;
                    position: absolute;
                    height: 100%;
                }
                .spotify_img_tooltip {
                    transform: translateY(96px) scale(0.9);
                    .spotify_img_tooltip_arrow {
                        border-bottom-color: var(--discord-floating);
                        position: absolute;
                        bottom: 100%;
                        width: 0;
                        height: 0;
                    }
                }
            }
            .spotify_img:hover > .spotify_img_tooltip {
                opacity: 1;
                visibility: visible;
                transform: translateY(108px) scale(1);
            }
            .spotify_text {
                display: flex;
                flex-direction: column;
                justify-content: center;
                overflow: hidden;
                cursor: default;
                .spotify_text_song {
                    color: white;
                    font-weight: 600;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    white-space: nowrap;
                }
                .spotify_text_artist {
                    color: #dcddde;
                    white-space: pre-wrap;
                }
                .spotify_text_album {
                    color: #dcddde;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    white-space: nowrap;
                }
            }
        }
        .bar {
            .spotify_timestamp_area {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                margin-top: 5px;
            }
            .spotify_timestamp {
                color: #dcddde;
                font-size: small;
                cursor: default;
            }
            .spotify_statusbar_bg {
                width: 100%;
                margin-top: 10px;
                height: 4px;
                background-color: rgba(79, 84, 92, 0.2);
                border-radius: 10px;
            }
            .spotify_statusbar {
                background: white;
                border-radius: 10px;
                height: 4px;
                width: 100%;
                position: relative;
            }
            .spotify_statusbar::before {
                content: "";
                position: absolute;
                inset: -2px;
                z-index: -1;
                background: inherit;
                filter: blur(10px);
            }
        }
    }
}

.underline {
    color: inherit;
    text-decoration: none;
    &:hover {
        text-decoration: underline;
        cursor: pointer;
    }
}
