@font-face {
    font-family: Whitney;
    src: url("/fonts/whitney_300.woff") format("woff");
    font-weight: 300;
}

@font-face {
    font-family: Whitney;
    src: url("/fonts/whitney_400.woff") format("woff");
    font-weight: 400;
}

@font-face {
    font-family: Whitney;
    src: url("/fonts/whitney_500.woff") format("woff");
    font-weight: 500;
}

@font-face {
    font-family: Whitney;
    src: url("/fonts/whitney_600.woff") format("woff");
    font-weight: 600;
}

@font-face {
    font-family: Whitney;
    src: url("/fonts/whitney_700.woff") format("woff");
    font-weight: 700;
}

:root {
    //Main colors
    --discord-background: #202225;
    --discord-floating: #18191c;
    --discord-divider: rgba(79, 84, 92, 0.478);
    //Apps
    --instagram-color: #bc318f;
    --twitch-color: #9b58ff;
    --steam-color: #00adee;
    --spotify-color: #1db954;
    --github-color: #58a6ff;
    --lechsbott-color: #00ffff;
    //Some discord colors
    --brand-experiment: #516dee;
    --brand-experiment-hover: #4157c0;
    --brand-experiment-focus: #374aa2;
    --button-secondary-background: #4f545c;
    --button-secondary-background-hover: #686d73;
    --button-secondary-background-focus: #72767d;
    --elevation-high: 0 8px 16px rgba(0, 0, 0, 0.24);
    --header-secondary: #b9bbbe;
    //Animations
    --animation: 50ms ease-in-out;
}

* {
    margin: 0;
    padding: 0;
    outline: 0;
}

html {
    scroll-behavior: smooth;
    font-family: "DM Sans", sans-serif;
}

.fa-snowflake {
    animation: fall infinite;
    color: #ffffff;
    position: absolute;
    top: -20px;
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.2), 0 0 10px rgba(255, 255, 255, 0.6), 0 0 20px white;
}

@keyframes fall {
    100% {
        transform: translateY(300vh) rotate(360deg);
        opacity: 0;
    }
}

.skeleton {
    opacity: 0.7;
    animation: skeleton-loading 1s linear infinite alternate;
}

@keyframes skeleton-loading {
    0% {
        background-color: hsl(200, 20%, 70%);
    }
    100% {
        background-color: hsl(200, 20%, 95%);
    }
}
