@font-face {
    font-family: Whitney;
    src: url("/fonts/whitney_300.woff") format("woff");
    font-weight: 300;
}

@font-face {
    font-family: Whitney;
    src: url("/fonts/whitney_400.woff") format("woff");
    font-weight: 400;
}

@font-face {
    font-family: Whitney;
    src: url("/fonts/whitney_500.woff") format("woff");
    font-weight: 500;
}

@font-face {
    font-family: Whitney;
    src: url("/fonts/whitney_600.woff") format("woff");
    font-weight: 600;
}

@font-face {
    font-family: Whitney;
    src: url("/fonts/whitney_700.woff") format("woff");
    font-weight: 700;
}

:root {
    //Main colors
    --discord-background: rgba(32, 34, 37, 0.75);
    --discord-floating: rgba(24, 25, 28, 1);
    --discord-divider: rgba(79, 84, 92, 1);
    --discord-elevation-high: 0 8px 16px rgba(0, 0, 0, 0.24);
    --discord-blurple: rgb(81, 109, 238, 1);
    --discord-blurple-hover: rgba(65, 87, 192, 1);
    --discord-blurple-focus: rgba(55, 74, 162, 1);
    //Apps
    --instagram-color: #bc318f;
    --twitch-color: #9b58ff;
    --steam-color: #00adee;
    --spotify-color: #40d669;
    --github-color: #58a6ff;
    --lechsbott-color: #00ffff;
    //Some discord colors
    --button-secondary-background: #4f545c;
    --button-secondary-background-hover: #686d73;
    --button-secondary-background-focus: #72767d;
    --header-secondary: #b9bbbe;
    //Animations
    --animation: 50ms ease-in-out;
    --animation-1: 150ms ease-in-out;
}

* {
    margin: 0;
    padding: 0;
    outline: 0;
}

html {
    scroll-behavior: smooth;
    font-family: "DM Sans", sans-serif;
}

.fa-snowflake {
    animation: fall infinite;
    color: #ffffff;
    position: absolute;
    top: -20px;
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.2), 0 0 10px rgba(255, 255, 255, 0.6), 0 0 20px white;
}

@keyframes fall {
    100% {
        transform: translateY(300vh) rotate(360deg);
        opacity: 0;
    }
}

.skeleton {
    opacity: 0.7;
    animation: skeleton-loading 1s linear infinite alternate;
}

@keyframes skeleton-loading {
    0% {
        background-color: hsl(200, 20%, 70%);
    }
    100% {
        background-color: hsl(200, 20%, 95%);
    }
}

.tooltip {
    visibility: hidden;
    opacity: 0;
    //transform: translateX(25px) scale(0.9);
    background-color: var(--discord-floating);
    box-shadow: var(--discord-elevation-high);
    color: white;
    position: absolute;
    border-radius: 5px;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    padding: 8px 12px;
    width: auto;
    transition: var(--animation);
    display: flex;
    align-items: center;
    justify-content: center;
    .tooltip_arrow {
        border: 5px solid transparent;
    }
    .tooltip_text {
        width: auto;
        white-space: nowrap;
        text-align: center;
    }
}

.disappear{
    animation: vanish 1s forwards;
}

@keyframes vanish {
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}