:root {
    --border-color: rgba(22, 22, 22, 0.685);
    --app-color: rgb(255, 255, 255);
    --app-bg-color: rgba(58, 58, 58, 0.568);
    --app-after-color: rgba(119, 119, 119, 0.562);
    --bg-color-gradient: linear-gradient(45deg, rgb(0, 0, 0), rgb(25, 25, 25));
    --instagram-color: #bc318f;
    --twitch-color: #9b58ff;
    --steam-color: #00adee;
    --spotify-color: #1db954;
    --github-color: #000000;
    --discord-color: #5865f2;
    --snapchat-color: #fffc00;
    --brand-experiment: #516dee;
    --brand-experiment-hover: #4157c0;
    --brand-experiment-focus: #374aa2;
    --button-secondary-background: #4f545c;
    --button-secondary-background-hover: #686d73;
    --button-secondary-background-focus: #72767d;
}

* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
    font-family: 'DM Sans', sans-serif;
}

.fa-snowflake {
    animation: fall infinite;
    color: #ffffff;
    position: absolute;
    top: -20px;
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.2), 0 0 10px rgba(255, 255, 255, 0.6), 0 0 20px white;
}

@keyframes fall {
    100% {
        transform: translateY(300vh) rotate(360deg);
        opacity: 0;
    }
}
