.offline {
    display: flex;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #989898;
    height: 100px;
}

.status {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 10px;
}