.discord_panel {
    background-color: #232323;
    width: 100%;
    height: 100%;
}

.discord_content {
    display: flex;
    flex-direction: column;
    padding: 50px;
    justify-content: center;
}

.discord_header {
    margin-top: 10px;
    font-family: "DM Sans";
}

.discord_header_tag {
    color: white;
    font-weight: bolder;
}

.discord_header_disc {
    color: #b9bbbe;
    font-weight: lighter;
}

.discord_header_status {
    display: flex;
    margin-top: 10px;
    color: #dcddde;
    font-size: small;
    font-weight: lighter;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.discord_content_profile {
    padding-bottom: 10px;
    border-bottom: 2px solid #343434;
}

.discord_avatar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.discord_avatar_img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    box-shadow: var(--elevation-high);
}

.discord_avatar_status {
    position: relative;
    right: 25px;
    top: 5px;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;
    border: 5px solid #232323;
}

.discord_avatar_status_tooltip {
    visibility: hidden;
    opacity: 0;
    transform: translateX(25px) scale(0.90);
    background-color: var(--background-floating);
    box-shadow: var(--elevation-high);
    color: white;
    position: absolute;
    border-radius: 5px;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    padding: 8px 12px;
    width: auto;
    transition: var(--animation);
    display: flex;
    align-items: center;
    .discord_avatar_status_tooltip_arrow {
        border: 5px solid transparent;
        border-right-color: var(--background-floating);
        position: absolute;
        right: 100%;
        width: 0;
        height: 0;
    }
    .discord_avatar_status_tooltip_text{
        width: auto;
        white-space: nowrap;
        text-align: center;
    }
}

.discord_avatar_status:hover > .discord_avatar_status_tooltip {
    opacity: 1;
    visibility: visible;
    transform: translateX(37px) scale(1);
}