.discord_button {
    color: #fff;
    background-color: var(--discord-blurple);
    cursor: pointer;
    display: flex;
    width: auto;
    height: 32px;
    border: none;
    border-radius: 3px;
    font-size: 14px;
    padding: 2px 16px;
    align-items: center;
    outline: 0;
    font-weight: 500;
    font-family: "Whitney", Arial, sans-serif;
    transition: background-color .17s ease,color .17s ease;
}

.discord_button:hover{
    background-color: var(--discord-blurple-hover);
}

.discord_button:focus-within{
    background-color: var(--discord-blurple-focus);
}

.discord_button_container{
    display: flex;
    justify-content: center;
}

.discord_button_container_text{
    margin: 0 auto;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.discord_button_container_svg{
    margin-left: 8px;
}