.discord_panel {
    height: 430px;
    width: 500px;
    background-color: #232323;
    border-radius: 25px;
    box-shadow: var(--elevation-high);
}

.discord_content {
    display: flex;
    flex-direction: column;
    margin: 30px;
}

.discord_header {
    margin-top: 10px;
    font-family: "DM Sans";
}

.discord_header_tag {
    color: white;
    font-weight: bolder;
}

.discord_header_disc {
    color: #b9bbbe;
    font-weight: lighter;
}

.discord_header_status {
    display: flex;
    margin-top: 10px;
    color: #dcddde;
    font-size: small;
    font-weight: lighter;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.discord_content_profile {
    padding-bottom: 10px;
    border-bottom: 2px solid #343434;
}

.discord_avatar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.discord_avatar_img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    box-shadow: var(--elevation-high);
}

.discord_avatar_status {
    position: relative;
    right: 25px;
    top: 5px;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 5px solid #232323;
}

.discord_avatar_status_tooltip {
    opacity: 0;
    transform: translateX(20px) scale(0.95);
    background-color: var(--background-floating);
    box-shadow: var(--elevation-high);
    color: white;
    pointer-events: none;
    position: absolute;
    border-radius: 5px;
    font-weight: 500;
    font-size: 14px;
    max-width: 190px;
    line-height: 16px;
    white-space: pre-line;
    padding: 8px 12px;
    text-align: center;
    transition: 75ms ease-in-out;
}

.discord_avatar_status:hover > .discord_avatar_status_tooltip {
    opacity: 1;
    transform: translateX(50px) scale(1);
}
