.discord_panel {
    height: 400px;
    width: 500px;
    background-color: #232323;
    border-radius: 25px;
}

.discord_content {
    display: flex;
    flex-direction: column;
    padding: 40px;
}

.discord_header {
    margin-top: 10px;
    font-family: "DM Sans";
    font-weight: bold;
}

.discord_header_tag {
    color: white;
}

.discord_header_disc {
    color: #b9bbbe;
}

.discord_content_profile {
    padding-bottom: 10px;
    border-bottom: 2px solid #343434;
}

.discord_avatar_status {
    position: relative;
    right: 25px;
    top: 5px;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    display: inline-block;
    border: 5px solid #232323;
}

.discord_avatar_img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
}