.main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: var(--background);
    overflow: hidden;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60%;
    height: 100%;
}

.infoContainer {
    margin-bottom: 20px;
    text-align: center;

    .title {
        font-size: 30px;
        font-weight: bold;
        color: white;
    }
}

.downloadContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    width: 100%;

    .inputSection {
        display: flex;
        justify-content: center;
        width: 50%;
        gap: 10px;


        .input {
            padding: 16px 10px;
            border-radius: var(--rad);
            outline: none;
            border: 1px solid transparent;
            background: #131313;
            color: white;
            width: 100%;
            caret-color: var(--user-primary);
            font-size: 18px;

            &:focus {
                border: 1px solid white;
            }
        }

        .pasteButton {
            padding: 16px 10px;
            border-radius: var(--rad);
            outline: none;
            border: none;
            background: #131313;
            color: white;
            transition: var(--animation-1);
            cursor: pointer;

            &:hover {
                opacity: var(--hover-opacity-1);
                transform: scale(var(--hover-scale-1));
            }

            &:active {
                opacity: var(--active-opacity-1);
                transform: scale(var(--active-scale-1));
            }
        }
    }

    .downloadButton {
        padding: 16px 10px;
        border-radius: var(--rad);
        outline: none;
        border: none;
        background: white;
        color: black;
        transition: var(--animation-1);
        cursor: pointer;

        &:hover {
            opacity: var(--hover-opacity-1);
            transform: scale(var(--hover-scale-1));
        }

        &:active {
            opacity: var(--active-opacity-1);
            transform: scale(var(--active-scale-1));
        }
    }
}