.main {
    height: 300vh;
    max-height: 600vh;
    background: var(--bg-color-gradient);
    background-position: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.list_header {
    margin: 100px 0px;
    color: white;
    text-align: center;
    h1 {
        text-decoration: underline;
        text-shadow: 0px 0px 10px white, 0px 0px 40px white;
    }
}

.list_container {
    height: 100%;
    width: 70%;
    background: #181818;
    border-radius: 10px;
}

.list_array {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 10px;
}