.main {
    height: 100vh;
    width: 100%;
    background-image: url("https://i.pinimg.com/originals/48/b2/63/48b263c497bed859cfccc48472366b7b.jpg");
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    border-radius: 8px;
    height: 90%;
    width: 90%;
    background-color: #eee;
    overflow: hidden;
}

.stuff {
    height: 100%;
    width: 20%;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.stuff_header {
    padding: 10px;
    text-align: center;
    font-size: 25px;
    font-weight: bolder;
    background: #000;
    color: #fff;
}

.app {
    padding: 10px;
    transition: all 250ms ease-in-out;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #000;
    text-decoration: none;
    font-weight: bold;
    .app_icon {
        width: 20px;
        height: 20px;
        padding-right: 5px;
    }
}

@keyframes hue {
    0% {
        filter: hue-rotate(0deg);
    }
    100% {
    }
}

.app_instagram:hover {
    color: var(--instagram-color);
}

.app_twitch:hover {
    color: var(--twitch-color);
}

.app_steam:hover {
    color: var(--steam-color);
}

.app_spotify:hover {
    color: var(--spotify-color);
}

.app_github:hover {
    color: var(--github-color);
}

.app_lechsbott:hover {
    color: var(--lechsbott-color);
}

.made_text {
    display: flex;
    color: black;
    justify-content: center;
    padding: 15px;
    transition: all 200ms ease-out;
}

.made_text:hover {
    color: white;
    background-color: black;
}

.discord {
    width: 80%;
    height: 100%;
}

.discord_loading {
    display: flex;
    flex-direction: column;
    padding: 30px 50px;
    background-color: #fff;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    .discord_loading_spinner {
        background-color: black;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        animation: discord_loading_spinner 1200ms infinite;
    }
    .discord_loading_text {
        margin-top: 10px;
        color: black;
        text-align: center;
        font-weight: bold;
    }
}

@keyframes discord_loading_spinner {
    0% {
        transform: scale(0);
        opacity: 0;
    }
    50% {
        background-color: black;
        opacity: 1;
        transform: scale(1);
    }
    100% {
        transform: scale(0);
        opacity: 0;
    }
}
