.discord_body {
    background: var(--discord-background);
    width: 100%;
    height: 100%;
    backdrop-filter: blur(3px);
}

.discordLoading {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.discord_container {
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    padding: 0px 60px;
    padding-top: 45px;
    padding-bottom: 0px;
    height: 100%;
    width: 100%;
}

.discord_header_top {
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
}

.discord_header_bottom {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
}


.avatar {
    height: 100px;
    width: 100px;
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    img {
        height: 100px;
        width: 100px;
        display: block;
        border-radius: 50%;
        box-shadow: var(--discord-elevation-high);
    }
    &::after {
        content: "";
        width: 100%;
        position: absolute;
        height: 100%;
    }
    .avatar_status {
        box-sizing: border-box;
        //border: 3px solid var(--discord-background);
        box-shadow: 0px 0px 1px black;
        display: flex;
        align-items: center;
        position: absolute;
        height: 30px;
        width: 30px;
        border-radius: 50%;
        z-index: 3;
        .avatar_status_tooltip {
            transform: translateX(25px) scale(0.95);
            .avatar_status_tooltip_arrow {
                border-right-color: var(--discord-floating);
                position: absolute;
                right: 100%;
                width: 0;
                height: 0;
            }
        }
    }
}

.avatar_status:hover > .avatar_status_tooltip {
    opacity: 1;
    visibility: visible;
    transform: translateX(40px) scale(1);
}

.discord_button{
    display: flex;
    align-items: center;
}

.user {
    margin-top: 10px;
    font-family: "DM Sans";
    font-size: 18px;
    text-shadow: 0px 0px 25px black;
    display: flex;
    flex-direction: column;
    .user_global_name {
        font-size: 20px;
        color: white;
        
        font-weight: bolder;
    }
    .user_name {
        color: #b9bbbe;
        font-size: 14px;
        font-weight: lighter;
    }
}

.custom_status {
    display: flex;
    align-items: center;
    margin-top: 5px;
    .custom_status_emoji {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 5px;
        font-size: 14px;
        img {
            display: block;
            width: 25px;
            height: 25px;
        }
        .custom_status_emoji_tooltip {
            transform: translateY(25px) scale(0.95);
            .custom_status_emoji_arrow {
                border-bottom-color: var(--discord-floating);
                position: absolute;
                bottom: 100%;
                width: 0;
                height: 0;
            }
        }
        &:hover > .custom_status_emoji_tooltip {
            opacity: 1;
            visibility: visible;
            transform: translateY(40px) scale(1);
        }
    }
    .custom_status_text {
        color: #dcddde;
        font-size: 14px;
        font-weight: lighter;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }
}

.divider {
    width: 100%;
    height: 1px;
    background-color: var(--discord-divider);
    margin: 10px 0px;
}

@media (max-width: 650px) {
    .discord_body {
        backdrop-filter: none;
    }
    .discord_container{
        padding: 30px 20px;
    }
}