.presence {
    width: 100%;
    overflow-y: scroll;
}
.presence.noActivity {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.presence::-webkit-scrollbar {
    display: none;
}

.blank {
    width: 100%;
}

.offline {
    display: flex;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    color: #989898;
    height: 100%;
}