.main {
    //background: linear-gradient(to bottom, rgb(0, 30, 30), rgb(0, 15, 30));
    background: url('https://media-cdn.t24.com.tr/media/library/2022/05/1652958070590-yeni-proje.png');
    background-repeat: repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calendar_container {
    height: 600px;
    border-radius: 10px;
    width: 75%;
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    border: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(20px) brightness(50%);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    overflow: hidden;
}

.calendar {
    width: 60%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.1);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.calendar_header{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding-top: 20px;
    background: rgba(255, 255, 255, 0.1);
    h1{
        color: white;
        padding-bottom: 10px;
    }
}

.calendar_body_weekdays {
    padding: 15px 0px;
    border-top: 1px solid white;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    font-weight: 600;
    text-align: center;
    color: white;
}

.calendar_body {
    display: flex;
    flex-direction: column;
}

.calendar_body_days {
    padding-top: 5px;
    display: grid;
    place-items: center;
    grid-template-columns: repeat(7, 1fr);
    gap: 2px;
}

.day{
    padding: 30px;
    height: 20px;
    width: 20px;
    transition: outline 0.3s ease-in-out;
    text-align: center;
    color: white;
}

.day:hover{
    outline: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 50%;
}

.last_day{
    color: rgba(255, 255, 255, 0.5);
}

.next_day{
    color: rgba(255, 255, 255, 0.5);
}

.current_day{
    background-color: white;
    color: black;
    border-radius: 50%;
    transition: background-color 0.3s ease-in-out;
}

.current_day:hover{
    background-color: rgba(255, 255, 255, 0.5);
}

.calendar_events {
    display: flex;
    flex-wrap: wrap;
    width: 40%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.2);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
}