.type_2 {
    margin-top: 15px;
    display: flex;
    max-width: 440px;
    width: auto;
    height: 110px;
    flex-direction: column;
    .header {
        color: #1db954;
        margin-bottom: 10px;
        font-size: 12px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        cursor: default;
        font-family: 'Whitney';
        span{
            font-weight: bolder;
        }
    }
    .spotify {
        display: flex;
        flex-direction: row;
        align-items: center;
        .spotify_img {
            display: flex;
            justify-content: center;
            cursor: pointer;
            img {
                border-radius: 5px;
                object-fit: cover;
            }
            .spotify_img_tooltip {
                opacity: 0;
                transform: translateY(96px) scale(0.95);
                background-color: var(--background-floating);
                box-shadow: var(--elevation-high);
                color: white;
                pointer-events: none;
                position: absolute;
                border-radius: 5px;
                font-weight: 500;
                font-size: 14px;
                max-width: 190px;
                line-height: 16px;
                white-space: pre-line;
                padding: 8px 12px;
                text-align: center;
                transition: 75ms ease-in;
                display: flex;
                justify-content: center;
                .spotify_img_tooltip_arrow {
                    border: 5px solid transparent;
                    border-bottom-color: var(--background-floating);
                    position: absolute;
                    bottom: 100%;
                    width: 0;
                    height: 0;
                }
            }
        }
        .spotify_img:hover > .spotify_img_tooltip {
            opacity: 1;
            transform: translateY(108px) scale(1);
        }
        .spotify_text {
            margin-left: 10px;
            width: 100%;
            display: flex;
            white-space: nowrap;
            overflow: hidden;
            flex-direction: column;
            cursor: default;
            .spotify_text_song {
                color: white;
                font-weight: 600;
            }
            .spotify_text_artist {
                color: #dcddde;
            }
            .spotify_text_album {
                color: #dcddde;
            }
            .spotify_timestamp_area {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                margin-top: 5px;
            }
            .spotify_timestamp {
                color: #dcddde;
                font-size: small;
                cursor: default;
            }
            .spotify_statusbar_bg {
                width: 100%;
                margin-top: 10px;
                height: 4px;
                background-color: rgba(79, 84, 92, 0.16);
                border-radius: 2px;
            }
            .spotify_statusbar {
                background-color: white;
                border-radius: 2px;
                height: 4px;
            }
        }
    }
}

.underline:hover {
    text-decoration: underline;
    cursor: pointer;
}
